@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



/* @import './styles/animations.css'; */

/* Global Scrollbar Styles */
* {
  --sb-track-color: transparent;
  --sb-thumb-color: #0077b5;
  --sb-size: 10px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Custom Scrollbar Class for Components */
.custom-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

body {
  --sb-track-color: transparent;
  --sb-thumb-color: #0077b5;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }

  body {
    @apply bg-[#f3f4f6] text-gray-900 antialiased;
  }
}

@layer components {
  .container-custom {
    @apply container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
  }

  .heading-1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold;
  }

  .heading-2 {
    @apply text-3xl md:text-4xl font-bold;
  }

  .heading-3 {
    @apply text-2xl md:text-3xl font-semibold;
  }

  .text-body {
    @apply text-base text-gray-600;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(#0077b5 1px, transparent 1px),
      linear-gradient(to right, #0077b5 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: 0.1;
  }
}

input[type="number"] {
  -moz-appearance: textfield !important;
  overflow: hidden;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 0 !important;
}

.highlight-selected-date {
  background-color: green !important;
  color: white !important;
}

.highlight-available-date {
  background-color: red !important;
  color: white !important;
  pointer-events: none;
}
/* Input group layout */
.react-time-picker__inputGroup {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

/* Style for the individual input field */
.react-time-picker__inputGroup__input {
  width: 100% !important; /* Ensure full width */
  padding: 0.75rem 1rem; /* Padding for input spacing */
  font-size: 1rem; /* Set font size */
  border: 2px solid #d1d5db; /* Gray border */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
  color: #333; /* Text color */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focused input field appearance */
.react-time-picker__inputGroup__input:focus {
  border-color: #3b82f6; /* Blue border */
  outline: none;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5); /* Blue shadow */
}

/* Label styling */
.react-time-picker__label {
  font-size: 0.875rem; /* Smaller font size */
  color: #4b5563; /* Dark gray color */
  margin-bottom: 0.5rem; /* Margin between label and input */
  font-weight: 600; /* Bold label */
}

/* Hover effect for better interactivity */
.react-time-picker__inputGroup__input:hover {
  border-color: #60a5fa; /* Light blue border on hover */
}

/* Responsiveness: Small to Medium Screens */
@media (max-width: 768px) {
  .react-time-picker__inputGroup {
    flex-direction: column; /* Stack inputs on small screens */
    gap: 15px; /* Increase space between inputs */
  }

  .react-time-picker__inputGroup__input {
    font-size: 0.875rem; /* Smaller font size */
  }
}

/* Responsiveness: Large Screens */
@media (min-width: 1024px) {
  .react-time-picker__inputGroup {
    flex-direction: row; /* Side by side on large screens */
  }
}

.react-time-picker__button {
  display: none !important;
}
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#loading p {
  margin-top: 15px;
  color: #0077b5; /* LinkedIn blue */
  font-size: 20px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  animation: dots 2s steps(2) infinite;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
}

@keyframes dots {
  0% {
    content: "Loading";
  }
  33% {
    content: "Loading.";
  }
  66% {
    content: "Loading..";
  }
  100% {
    content: "Loading...";
  }
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #0077b5 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #0077b5);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  #loading {
    width: 140px;
    height: 140px;
    padding: 10px;
  }

  #loading p {
    font-size: 16px;
    margin-top: 10px;
  }

  .loader {
    width: 50px;
  }
}

@media (max-width: 480px) {
  #loading {
    width: 120px;
    height: 120px;
    padding: 8px;
  }

  #loading p {
    font-size: 14px;
    margin-top: 8px;
  }

  .loader {
    width: 40px;
  }
}



.bell {
  display: block;
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s 0.7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@-webkit-keyframes sleeping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sleeping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#swinger {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  transform-box: fill-box;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

#zone {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
}

#ztwo {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 0.4s;
  -website-animation-delay: 0.4s;
}

#zthree {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 0.7s;
  -website-animation-delay: 0.7s;
}

#zfour {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 1s;
  -website-animation-delay: 1s;
}

#zfive {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 1.3s;
  -website-animation-delay: 1.3s;
}



:root {
  --magnifying-glass: rgb(111, 197, 211);
  --magnifying-glass-light: rgb(167, 217, 225);
  --magnifying-glass-dark: rgb(95, 168, 180);
  --contact-card: rgb(252, 236, 243);
  --contact-card-light: rgb(210, 175, 211);
  --contact-card-dark: rgb(153, 106, 169);
}

/* Loader Container */
.flex.items-center.justify-center.min-h-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--gray-100);
}

.relative.w-full.max-w-md {
  position: relative;
  bottom: 100px;
  width: 100%;
  max-width: 384px; /* Adjusted for responsiveness */
}

/* Contact Card */
.contact-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 120px;
  background-color: var(--contact-card);
  border-radius: 4px;
  border-bottom: 8px solid var(--contact-card-light);
  animation: contact-card-animate 3s ease-in-out infinite;
  overflow: hidden;
  opacity: 0;
}

.contact-card-first {
  animation-delay: 0s;
}

.contact-card-second {
  animation-delay: 1.5s;
}

/* Avatar */
.avatar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  left: -125px;
  width: 65px;
  height: 65px;
  background-color: var(--contact-card-light);
  border-radius: 4px;
  z-index: 3;
}

.avatar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: -15px;
  height: 22.5px;
  width: 22.5px;
  background-color: var(--contact-card-dark);
  border-radius: 50%;
}

.avatar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 40px;
  height: 25px;
  width: 40px;
  background-color: var(--contact-card-dark);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* Text Placeholder */
.text-placeholder {
  position: absolute;
  top: 42.5px;
  right: 40px;
  width: 100px;
  height: 7.5px;
  background-color: var(--contact-card-dark);
}

.text-placeholder::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 17.5px;
  width: 120px;
  height: 7.5px;
  background-color: var(--contact-card-dark);
}

.text-placeholder::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 32.5px;
  width: 110px;
  height: 7.5px;
  background-color: var(--contact-card-dark);
}

/* Magnifying Glass */
.magnifying-glass {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  border: 14px solid var(--magnifying-glass);
  border-radius: 50%;
  animation: magnifying-glass-animate 1.5s ease-in-out infinite;
  animation-delay: 0.375s;
  transform: rotate(37.5deg);
  left: 150px;
  top: 0;
}

.magnifying-glass::before,
.magnifying-glass::after {
  content: "";
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  opacity: 0.8;
  transform: rotate(15deg);
}

.magnifying-glass::before {
  left: -12px;
  top: -5px;
  border-left: 6px solid white;
}

.magnifying-glass::after {
  left: -4px;
  top: -5px;
  border-right: 6px solid white;
}

.glass {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.35;
}

.handle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 35px;
  border-radius: 7.5px;
  background-color: var(--magnifying-glass);
  top: 240px;
}

.handle::after {
  content: "";
  position: absolute;
  border-top-right-radius: 30px;
  left: 5px;
  top: -20px;
  height: 30px;
  width: 20px;
  background-color: var(--magnifying-glass-dark);
}

.handle-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 92px;
  left: -7.5px;
  top: -7.5px;
  width: 27.5px;
  border-top-left-radius: 7.5px;
  border-bottom-right-radius: 17.5px;
  background-color: var(--magnifying-glass-light);
  z-index: 2;
}

.handle-inner::before,
.handle-inner::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 34px;
  height: 8px;
  width: 27.5px;
  background-color: var(--magnifying-glass);
  z-index: 1;
}

/* Animations */
@keyframes contact-card-animate {
  0% {
    opacity: 0;
    top: -300px;
    width: 0px;
  }
  1% {
    opacity: 1;
    top: -300px;
    width: 0px;
  }
  10% {
    top: -300px;
    width: 250px;
  }
  20% {
    top: 0px;
    width: 250px;
  }
  25% {
    top: 0px;
    width: 250px;
  }
  35% {
    top: 0px;
    width: 250px;
  }
  50% {
    top: 300px;
    width: 250px;
  }
  65% {
    opacity: 1;
    top: 300px;
    width: 0px;
  }
  100% {
    opacity: 0;
    top: 300px;
    width: 0px;
  }
}

@keyframes magnifying-glass-animate {
  0% {
    transform: rotate(37.5deg);
    left: 150px;
    top: 0;
  }
  10% {
    transform: rotate(37.5deg);
    left: 150px;
    top: 0;
  }
  50% {
    transform: rotate(5deg);
    left: -150px;
    top: 0;
  }
  75% {
    transform: rotate(5deg);
    left: -150px;
    top: 0;
  }
  82.5% {
    top: 27.5px;
  }
  90% {
    transform: rotate(37.5deg);
    left: 150px;
    top: 0;
  }
  100% {
    transform: rotate(37.5deg);
    left: 150px;
    top: 0;
  }
}